<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= RESTAURANT.name %></title>
</head>
<body>
    <%- include('./partials/nav') %>
    <!-- Exercise 1: Create a homepage -->
  <h1><%= RESTAURANT.name %>!</h1>
  <p><strong>Address:</strong> <%= RESTAURANT.address %></p>
  <p><strong>Phone:</strong> <%= RESTAURANT.phone %></p>
  <p><%= RESTAURANT.isOpen ? "Yes, we are open!" : "Sorry, we are closed." %></p>
   


</body>
</html>
